services:
  automation:
    build:
      context: .
      dockerfile: Dockerfile
    image: automation:latest
    container_name: automation

    env_file:
      - .env

    volumes:
      - ./tmp:/app/tmp
      - ./logs:/app/logs

    entrypoint: ["/bin/sh", "-c"]
    command: ["sleep infinity"]

    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G

    restart: unless-stopped

    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.download-orders.schedule: "0 9 * * 1-5"
      ofelia.job-exec.download-orders.command: "python -m automation expamle"

  scheduler:
    image: mcuadros/ofelia:latest
    container_name: fetnet-scheduler
    depends_on:
      - automation
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./logs:/logs

    restart: unless-stopped

    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
